<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tushar.goscanner">


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/scanner_image"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/scanner_image_round"
        android:supportsRtl="true"
        android:theme="@style/SplashScreen"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="32">
        <activity
            android:name=".Ui.DocsListActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            />
        <activity
            android:name=".Ui.AadharCard"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Ui.VoterId"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Ui.Passport"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Ui.DrivingLicence"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Ui.EditActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".Ui.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>